//? Montserrat
@font-face {
   font-family: Montserrat;
   src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
   font-weight: normal;
}

//? Cormorant Garamond
@font-face {
   font-family: Cormorant Garamond;
   src: url('../fonts/Garamond/CormorantGaramond-Regular.ttf');
}

body{
   font-family: 'Montserrat', sans-serif;
}