body {
  overflow: hidden;
  background: #00152d;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
  z-index: 1;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.top-opacity {
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: .5s all;
  transition: .5s all;
}

.hero-wrapper {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 10;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

.hero-wrapper-display {
  display: block;
  -webkit-transition: all 2s ease-out;
  transition: all 2s ease-out;
}

.can-scroll {
  overflow: unset;
  background: white;
}

.button {
  height: 52px;
  border: none;
}

.container {
  width: 1540px;
  margin: 0px auto;
}

.hero {
  background-image: url(../img/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  height: 100vh;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__row-main {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__row-main .nav-item {
  width: 125px;
}

.header__divider {
  width: 100%;
  height: 2px;
  background: #8A8483;
  opacity: 0.7;
}

.header__row-extra {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-item {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  text-decoration: none;
}

.nav-item:hover {
  text-decoration: underline;
}

.nav-item-title {
  color: white;
  text-decoration: none;
}

.header-logo {
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
}

.main-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-size: 90px;
  font-weight: normal;
}

.extra-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.extra-right .nav-item {
  margin-left: 30px;
}

.title {
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'Cormorant Garamond', serif;
  font-size: 40px;
  color: #012349;
}

.how-we-work {
  background: #F2F2F2;
}

.how-we-work .container .title {
  padding: 100px 0px;
}

.how-we-work .container img {
  margin-bottom: 200px;
  width: 100%;
}

.high-price .container .title {
  padding: 100px 0px;
  text-align: center;
}

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.colomn1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-lable {
  font-weight: normal;
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  color: #012349;
  margin: 20px 0px;
}

.colomn1-arrow {
  margin-top: 640px;
  width: 200px;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
}

.colomn2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.colomn2-arrow {
  width: 200px;
  margin-top: 600px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.colomn3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.colomn3-arrow {
  width: 300px;
  margin-top: 300px;
}

.img-group {
  margin-top: 250px;
}

.img-group-photos {
  margin-top: 200px;
}

.img-group-pictures {
  margin-top: 100px;
}

.img-group-icons {
  margin-top: 150px;
}

.img-group-andmore {
  margin-top: 150px;
}

.antik-rating {
  color: #012349;
}

.info-section {
  background: #F2F2F2;
  padding: 80px 0px;
  margin-top: 100px;
}

.info-section__title {
  margin-bottom: 20px;
}

.info-section__text {
  font-size: 24px;
  line-height: 60px;
}

.rating {
  margin: 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rating-contacts__title {
  text-transform: inherit;
  font-size: 48px;
}

.contact-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
  font-size: 24px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.contact-option__img {
  width: 20px;
  margin-right: 10px;
}

.contact-option__text {
  color: #012349;
  text-decoration: none;
}

.contact-option:hover {
  text-decoration: underline;
}

.rating-form {
  width: 50%;
}

.rating-form__col1 {
  margin-right: 30px;
}

.rating-form__input {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid #012349;
  border-radius: 0;
  color: #012349;
  font-size: 20px;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}

.rating-form__input:focus {
  border: none;
  border-bottom: 2px solid #012349;
  outline: inherit;
  border-radius: 0;
}

.rating-form__col2 {
  margin-left: 30px;
}

.inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.add-photo-button {
  border: 1px solid #012349;
  margin: 60px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0;
}

::-webkit-input-placeholder {
  color: #012349;
  font-size: 20px;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}

:-ms-input-placeholder {
  color: #012349;
  font-size: 20px;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}

::-ms-input-placeholder {
  color: #012349;
  font-size: 20px;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}

::placeholder {
  color: #012349;
  font-size: 20px;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}

.second-input {
  margin-top: 60px;
}

.submit-button {
  width: 300px;
  background: #012349 !important;
  color: white;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  border-radius: 0 !important;
  -webkit-appearance: none;
}

.contact-bar {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-bar .contact-option {
  margin: 0px;
}

.whats-up {
  margin: 150px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whats-up .title {
  text-align: center;
  font-size: 40px;
  color: #012349;
}

.whats-up a {
  text-decoration: none;
}

.whats-up__subtitle {
  margin: 30px 0px;
  font-weight: normal;
  font-size: 25px;
  color: #012349;
  letter-spacing: 5px;
  text-align: center;
}

.whats-up__button {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 315px;
  background: #012349;
}

.whats-up__button span {
  margin-left: 7px;
  color: white;
  font-size: 12px;
}

footer {
  height: 70px;
  background: #012349;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright {
  text-align: center;
  letter-spacing: 5px;
  font-size: 12px;
  color: #FFF;
}

.copyright a {
  color: #FFF;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

.menu-options {
  position: fixed;
  width: 50%;
  height: 100vh;
  color: #012349;
  background: white;
  z-index: 999;
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-options p {
  cursor: pointer;
  margin-top: 30px;
}

.menu-options p:hover {
  text-decoration: underline;
}

.blur-layer {
  position: fixed;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  z-index: 998;
  width: 100%;
  height: 100vh;
}

.scheme-mobile {
  display: none;
}

.scheme-desctop {
  display: inline;
}
/*# sourceMappingURL=mainPage.css.map */